/* .divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
} */

* {
    font-family: 'Montserrat', sans-serif;
}

section {
    box-sizing: border-box;
}

.custom {
    background-color: #010000; /* Fallback color */
    background-color: rgba(0, 4, 29, 0.2); /* Black w/opacity/see-through */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom2 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-custom {
    height: 100%;
    background-image: url("static/photos/carbon2.jpg");
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    margin-left: 5rem;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 4em;
}

@media (max-width: 1000px) {
    html{
        font-size: 75%;
    }
    .logo {
        width: 200px;
        margin-left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -100px;
    }

    .login{
        text-align: center;
        margin: 0;
    }

    .custom{
        background-color: rgba(0,0,0, 0.0); /* Black w/opacity/see-through */
    }

    .h-custom {
    height: 100%;
    }
}